.feature-section {
    margin-bottom: 20px;
}

.feature-input {
    margin-bottom: 10px;
}

.result-container {
    height: 200px;
    background-color: #cacfda;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#penguin-image {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
}

#loading {
    display: none;
}